*{
    /* padding: 0; */
    /* margin: 0; */
    box-sizing: border-box;
    font-family:monospace;
}
html{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;

}

/* GRID DEL BODY Y CSS DEL BODY*/
body{
    padding: 0;
    margin: 0;
    font-size: 1.15rem !important;
    height: 100%;
    width: 100%;
    text-align: center;
    background-color: #333333;
    color: whitesmoke;
    display: grid;
    grid-template-columns: 70% 30% ;
    grid-template-rows: 700px 120px 1fr 200px;
    grid-template-areas: 
    "header header"
    "nav nav"
    "main aside"
    "footer footer"
    ;
}
img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.header{
   
    grid-area: header;
}

.header h1{
    font-size: 80px;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 0;
    margin: 0;
  
}

.header h2{
    font-size: 60px;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 0;
    margin: 0;
}

.header p{
    font-size: 30px;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 0;
    margin: 0;
}
.header img{
    object-fit: contain;
    width: 100% !important;
    height: 40%;
    /* background-color: rgba(0, 0, 0, 0.8); */
}
.nav{
    margin: 0;
    padding: 0;
   
    grid-area: nav;
   
}
.main{
   
    grid-area: main;
    margin: 0;
    padding: 0;
}
.aside{
  
    grid-area: aside;
    margin: 0;
    padding: 0;
    
}
.footer{
    
    grid-area: footer;
   
 
}


.nav ul{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.425);
}

.nav ul li{
    width: 100%;
    height: 100%;
}

.nav ul li a{
    width: 100%;
    height: 100%;
    display: flex;
    text-decoration: none;
    color: inherit;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.nav ul li a:hover{
    background-color: #282828;
    transition: 0.4s all ease-in;
}

.nav ul li:hover > ul{
    display: block;
}

.nav ul li ul{
    display: none;
    position: relative;
   
    background-color: black;
}
.nav ul li ul li{
    
   
    background-color: black;
}

/*Estilos para el header y grid*/
.header{
    background-image: url("../src/img/im.webp");
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
    display: grid;
    grid-template-columns: 0.8fr 1fr;
    grid-template-rows: 100%;
    grid-template-areas: 
    "sec1-header sec2-header";
}

.sec1-header{
    grid-area:sec1-header;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.sec2-header{
    grid-area:sec2-header;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}


/* estilos para el main y GRID*/

.main{

    padding: 10px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows:  auto auto auto;
    grid-template-areas: 
    "section1"
    "section2"
    "section3";
}
.main section{
 padding-top:0;
}
.main .section1{
    grid-area: section1;
  
}
.main .section2{
    grid-area: section2;
}
.main .section3{
    grid-area: section3;
}


.section1 .img-section{
  
    justify-content: center;
    align-items: center;
}
/*estilos para los articulos y grid del main*/

.home .article{
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "titulo-section titulo-section"
    "img-section img-section"
    "text-section text-section";
}
.main .titulo-section{
    grid-area: titulo-section;
    text-align: center;
    
    font-size: 50px;
}

.text-section{
grid-area: text-section;
display: flex;
justify-content: center;
align-items: center;
}

.text-section p{
    text-align: left;
 
}

.img-section{
    padding-bottom: 40px;
    grid-area: img-section;
 

}

/*estilos para cada articulo de cada seccion del main*/



/*estilos para los articulos y grid del aside*/

.home .aside{
background-color: #1D1D1D;
padding: 7px;
display: grid;
grid-template-columns: auto;
grid-template-rows: 12% 12% 12%;
grid-template-areas: 
"article1"
"article2"
"article3"
;


}

.aside .article1{
    
    grid-area:article1;
   
 
}
.aside .article2{
    
    grid-area:article2;
   
}
.aside .article3{
    
    grid-area:article3;

}


.aside article .inside-article{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "titulo-section"
    "img-section"
    "text-section"
    !important;
   
}

.aside article .titulo-section{
    grid-area: titulo-section;
    text-align: center;
}

.aside article .text-section{
grid-area: text-section;

}

.aside article .text-section p{
    text-align: justify;
  
}

.aside article .img-section{
grid-area: img-section;
height: 100%;
}

/* estilos del footer y todo lo que te de la gana*/
.footer{
    display: grid;
    grid-template-columns: 30% 40% 30% ;
    grid-template-rows: 100%;
    grid-template-areas: 
    "f-1 f-2 f-3"
    ;
    padding: 10px;
    background-color: black;
}

.footer .f-1{
    grid-area: f-1;
}

.f-1 ul{
   display: flex;
    width: 100%;
    height: 100%;
    list-style: none;
}
.f-1 ul li{
    width: 100%;
    height: 100%;
   
}

.f-1 ul li a{
    width: 100%;
    height: 100%;
    text-decoration: none;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
}

.footer .f-2{
    grid-area: f-2;
    img{
        object-fit: contain;
        width: 100%;
        height: 80%;
    }
}

.footer .f-3{
    grid-area: f-3;
    display: flex;
    justify-content: space-between;
    align-items: center;
   

    img{
        height: 70px;
        width: 80px;
        object-fit: contain;
        cursor: pointer;
    }
}


/*aqui vamos a personalizar los articulos de cada seccion del main  en las otras paginas que no sean el index*/

.contacto .main .article{

    .article{
        display: grid;
        grid-template-columns: 60% 40%;
        grid-template-rows: auto  auto;
        grid-template-areas: 
        "titulo-section titulo-section"
        "text-section text-section";
    }
    .titulo-section{
        grid-area: titulo-section;
        text-align: center;
        padding-bottom: 40px;
        font-size: 20px;
    }
    
    .text-section{
    grid-area: text-section;
    display: flex;
    justify-content: center;
    align-items: center;
   
        form{
            width: 100%;
            max-width: max-content;
            height: auto;
        }
        
    }
    
fieldset{

    text-align: left;
}


    
    .div-input{
        display: flex;
        flex-direction: column;
        text-align: left;
        
        width: auto;
    }

    .div-input2{
        display: flex;
        text-align: left;
        width: auto;
    }

    .div-input3{
        display: flex;
         width: 100%;
    }

   

    ul{
padding: auto !important;
    }
    li{
padding: auto !important;
    }
}

.contacto .aside{
      
   
.aside{
    background-color: #1D1D1D;
    padding: 7px;
    display: grid;
    grid-template-columns: auto !important;
    grid-template-rows: auto auto auto !important;
    grid-template-areas: 
    "article1"
    "article2"
    "article3"
     !important;
    
    
    }
    
    .aside .article1{
        
        grid-area:article1;
       
     
    }
    .aside .article2{
        
        grid-area:article2;
       
    }
    .aside .article3{
        
        grid-area:article3;
    
    }
    
    
    .aside article .inside-article{
        display: grid;
        grid-template-columns: 40% 60%;
        grid-template-rows: auto auto;
        grid-template-areas: 
        "img-section titulo-section"
        "img-section text-section"
        ;
       
    }
    
    .aside article .titulo-section{
        grid-area: titulo-section;
        text-align: center;
    }
    
    .aside article .text-section{
    grid-area: text-section;
    
    }
    
    .aside article .text-section p{
        text-align: justify;
      
    }
    
    .aside article .img-section{
    grid-area: img-section;
    height: 100%;
    }
}


/* personalizando la pagina de quienes somos*/
.quienes .main {

    padding: 10px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows:  auto ;
    grid-template-areas: 
    "section1"
   !important;

}

    
   
.aside{
    background-color: #1D1D1D;
    padding: 7px;
    display: grid;
    grid-template-columns: auto !important;
    grid-template-rows: auto auto auto !important;
    grid-template-areas: 
    "article1"
    "article2"
    "article3"
     !important;
    
    
    }
    
    .aside .article1{
        
        grid-area:article1;
       
     
    }
    .aside .article2{
        
        grid-area:article2;
       
    }
    .aside .article3{
        
        grid-area:article3;
    
    }
    
    
    .quienes .aside article .inside-article{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto;
        grid-template-areas: 
        "titulo-section"
        "img-section"
        "text-section"
        ;
       
    }
    
    .aside article .titulo-section{
        grid-area: titulo-section;
        text-align: center;
    }
    
    .aside article .text-section{
    grid-area: text-section;
    
    }
    
    .aside article .text-section p{
        text-align: justify;
      
    }
    
    .aside article .img-section{
    grid-area: img-section;
    height: 100%;
    }

/*personalizando la pagina de area*/



.area .main{

    padding: 10px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows:  auto;
    grid-template-areas: 
    "section1"
    
     !important;


         
   
.area .aside{
    background-color: #1D1D1D;
    padding: 7px;
    display: grid;
    grid-template-columns: auto !important;
    grid-template-rows: 200px 20% 20% !important;
    grid-template-areas: 
    "article1"
    "article2"
    "article3"
     !important;
    
    
    }
    
    .area .article{
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: auto auto auto;
        grid-template-areas: 
        "titulo-section titulo-section titulo-section"
        "img-section img-section img-section"
        "text-section text-section text-section" !important;
    }
    .main .titulo-section{
        grid-area: titulo-section;
        text-align: center;
        padding-bottom: 40px;
        font-size: 50px;
    }
    
    .text-section{
    grid-area: text-section;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    
    .text-section p{
        text-align: left;
     
    }
    
    .img-section{
    padding-bottom: 40px;
    grid-area: img-section;
    display: flex;
    justify-content: space-around;
    gap: 10px;
    word-wrap: break-word;
    
    }
    .img-section div{
        transition: 1s all ease;
    }


    
    .img-section h2{
       
        cursor: pointer;
       z-index: 100;
    }

     .img-section img{
        padding-top: 10px;
        width: 300px;
        height: 400px;
        cursor: pointer;
        
    }

   .img-section div:hover{
        transform: scale(1.1);
        
       
    }
   
    


}

.resaltado{
    color: yellow !important;
    align-items: start !important;
    justify-content: start;
} li ul {
    display: none;
    position: absolute;
    /* top: 100%; */
    left: 0;
    min-width: 180px;
    z-index: 1000;
  }

  /* Mostrar submenú al hacer hover en el padre */
  li:hover > ul {
    display: block;
  }

  /* Estilo opcional para los subelementos */
 