.padre{

    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 20% 60% 20%;
    grid-template-areas:
    "hijo1 hijo1"
    "hijo2 hijo3"
    "hijo4 hijo4"

     ;
}

p{
    font-size: 60px;
}

.hijo1{
    display: grid;
    grid-area: hijo1;
}


.hijo2{
    display: grid;
    grid-area: hijo2;
}
.hijo3{
    display: grid;
    grid-area: hijo3;
}
.hijo4{
    display: grid;
    grid-area: hijo4;
}



/* telefono */
@media (max-width: 767px) {  
    .padre{

     
    
        grid-template-columns: 100%;
        grid-template-rows: 25% 25% 25% 25%;
        grid-template-areas:
        "hijo1"
        "hijo2"
        "hijo3"
        "hijo4"
    
         ;
    }


    .hijo1{
      
        background-color: rgb(31, 10, 122);    
    }

    p{
        font-size: 20px;
    }

}

@media (min-width: 768px) and (max-width: 1024px) {










    
}